/* 改变主题色变量 */
// $--color-primary: #00806a;
$--color-primary: rgb(51, 147, 207)

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-main>div:nth-child(2){
  padding: 16px;
}